# Dependencies
node_modules/
**/node_modules/
package-lock.json
yarn.lock

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
**/.env

# OS files
.DS_Store
Thumbs.db
*.log

# Build files
dist/
build/
out/
.vercel
.next/

# IDE files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
